<h1 class="text-center mb-3 bg-success">{{title}}</h1>
<div class="container-fluid">
    <div class="row bg-info text-center border border-info font-weight-bold">
        <div class="col">
            Stato PiServer
        </div>
    </div>
    <div class="row">
        <div class="col text-center border border-dark font-weight-bold">
            Temperatura
        </div>
        <div class="col text-center border border-dark" id="temp_div">
            {{temperatura}}
        </div>
    </div>
    <div class="row">
        <div class="col text-center border border-dark font-weight-bold">
            Data
        </div>
        <div class="col text-center border border-dark">
            {{data}}
        </div>
    </div>
</div>
