<div class="container-fluid text-center">
    <h2>
        {{info_page_msg}}
    </h2>
    <br>
    {{#if back_button}}
        <a href="/back" class="btn btn-primary"><b>Indietro</b></a>
    {{/if}}
</div>
