<div class="container mt-4 bg-light text-center">
  <h1 class="text-center mb-3 bg-info">{{title}}</h1>
  <form action="/index" method="POST" class="mb-4">
    <div class="form-floating mb-3">
      <input type="text" autocomplete="off" id="username" name="username" required class="form-control" placeholder="username">
      <label for="username">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" autocomplete="off" id="passwd" name="passwd" required class="form-control" placeholder="password">
      <label for="passwd">Password</label>
    </div>
    <br>
    <div class="form-group mb-3">
      <input type="submit" value="Login" class="btn btn-outline-dark btn-block btn-lg">
    </div>
  </form>
</div>